:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 24px;
  font-weight: 400;
  height: 100vh;
  width: 100vw;

  background-color: #646cff;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#app {
  display: flex;
  height: 66%;
  width: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#header {
  font-size: 2vh;
  display: flex;
  color: #efefef;
  background-color: #3f3f3f;
  height: 7vh;
  width: 100vw;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
}

#footer {
  font-size: 1.8vh;
  display: flex;
  color: #efefef;
  background-color: #3f3f3f;
  height: 7vh;
  width: 100vw;
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

footer a {
  text-decoration: none;
  color: #efefef;
}

button {
  display: flex;
  margin: 0.7%;
  width: 23%;
  height: 16%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 2%;
  font-size: 150%;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  justify-content: center;
  align-items: center;
}

button:hover {
  border-color: #646cff;
}

#calculatorBody {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3f3f3f;
  border-radius: 8px;
}

#display {
  display: flex;
  margin-bottom: 2%;
  border-radius: 8px;
  padding: 3%;
  font-size: 150%;
  font-weight: 500;
  font-family: inherit;
  width: 90%;
  height: 7vh;
  background-color: #efefef;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  /* transition: ease-in-out 1s; */
}

#buttons {
  display: flex;
  height: 50vh;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#hiddenButton {
  cursor: default;
}

#hiddenButton:hover {
  border-color: #fefefe00;
}